:root{
  font-size: calc(6px + .5vw);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*{
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
 } 

 html,
body{
  /* scroll-snap-type: y mandatory; */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --full-width:calc(100%); 
  overflow-x: hidden;
  user-select: none;
}

/* html{
  overflow-y: hidden;
} */

.homemain{
  /* z-index: -999999; */
  background: #000;
  background-image: url("/bg-2.jpg");
  background: rgb(132,94,194);
  background: linear-gradient(45deg,
   rgba(132,94,194,1) 0%, 
   rgba(214,93,177,1) 20%, 
   rgba(255,111,145,1) 40%, 
   rgba(255,150,113,1) 60%, 
   rgba(255,199,95,1) 80%, 
   rgba(249,248,113,1) 100%);
   /* background: rgb(190,147,253); */
   /* background: linear-gradient(45deg, rgba(190,147,253,1) 0%, rgba(220,176,255,1) 50%, rgba(250,204,255,1) 100%); */
   /* background: rgb(220,176,255); */
/* background: linear-gradient(45deg, rgba(220,176,255,1) 0%, rgba(250,204,255,1) 100%); */
  background: white;
  background-size: 100% auto;
  background-repeat: repeat-y;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollable{
  overflow-y: scroll;
  scroll-behavior: smooth;
  overscroll-behavior-y:inherit;
  scroll-snap-type: y;
}

/* main::before{
  content: '';
  background-color: #fff8;
  width: 100%;
  height: 100%;
  position: fixed;
} */

a{
  color: inherit;
  text-decoration: none;
}

/* a,
a:hover{
  color: #777;
  font-size: 1rem;
  margin: auto;
  text-decoration: none;
}
*/

.otl{
  border: 1px red solid;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}
.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

/* Button style */
/* button {
  border: none;
  border-radius: 2px;
  padding: 12px 18px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: #2196f3;
  box-shadow: 0 0 4px #999;
  outline: none;
} */